/Terra/Terra/Terra.Android/bin
/Terra/Terra/Terra.Android/obj
/Terra/Terra/Terra.iOS/bin
/Terra/Terra/Terra.iOS/obj
/Terra/Terra/Terra.Core/bin
/Terra/Terra/Terra.Core/obj
/Terra/ConnectionLibraryMaui/obj
/Terra/ConnectionLibraryMaui/bin
/Terra/ConnectionLibrary/obj
/Terra/ConnectionLibrary/bin
/Terra/Entities/obj
/Terra/Entities/bin
/Terra/Terra_Maui/obj
/Terra/Terra_Maui/bin
/Terra/obj
/Terra/bin
/Terra/.vs
/.vs
